{
  "swagger" : "2.0",
  "info" : {
    "description" : "Client-Server API",
    "version" : "r0.4.0-1-SNAPSHOT",
    "title" : "Client-Server API",
    "termsOfService" : "http://www.github.com/kongchen/swagger-maven-plugin",
    "contact" : {
      "name" : "Anatoly",
      "url" : "https://github.com/ma1uta/jeon",
      "email" : "sablintolya@gmail.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "matrix.org:8448",
  "tags" : [ {
    "name" : "Account",
    "description" : "Account registration and management"
  }, {
    "name" : "Admin",
    "description" : "Gets information about a particular user"
  }, {
    "name" : "Authentication",
    "description" : "A client can obtain access tokens using the /login API"
  }, {
    "name" : "CAS",
    "description" : "Central Authentication Service (CAS) is a web-based single sign-on protocol."
  }, {
    "name" : "ClientConfig",
    "description" : "Client Behaviour"
  }, {
    "name" : "Content",
    "description" : "This module allows users to upload content to their homeserver which is retrievable from other homeservers. Its' purpose is to allow users to share attachments in a room. Key locations are represented as Matrix Key (MXC) URIs."
  }, {
    "name" : "DeprecatedSync",
    "description" : "Warning: This API is deprecated and will be removed from a future release.."
  }, {
    "name" : "Device",
    "description" : "Clients that implement this module should offer the user a list of registered devices, as well as the means to update their display names. Clients should also allow users to delete disused devices."
  }, {
    "name" : "Encryption",
    "description" : "Matrix optionally supports end-to-end encryption, allowing rooms to be created whose conversation contents is not decryptable or interceptable on any of the participating homeservers."
  }, {
    "name" : "Event",
    "description" : "There are several APIs provided to GET events for a room."
  }, {
    "name" : "EventContext",
    "description" : "This API returns a number of events that happened just before and after the specified event. This allows clients to get the context surrounding an event."
  }, {
    "name" : "FallbackAuthentication",
    "description" : "If a client does not recognize any or all login flows it can use the fallback login API."
  }, {
    "name" : "Filter",
    "description" : "Filters can be created on the server and can be passed as as a parameter to APIs which return events. These filters alter the data returned from those APIs. Not all APIs accept filters."
  }, {
    "name" : "OpenID",
    "description" : "This module allows users to verify their identity with a third party service. The third party service does need to be matrix-aware in that it will need to know to resolve matrix homeservers to exchange the user's token for identity information."
  }, {
    "name" : "Presence",
    "description" : "Each user has the concept of presence information."
  }, {
    "name" : "Profile",
    "description" : "Profiles."
  }, {
    "name" : "Push",
    "description" : "This module adds support for push notifications. Homeservers send notifications of events to user-configured HTTP endpoints. Users may also configure a number of rules that determine which events generate notifications. These are all stored and managed by the user's homeserver. This allows user-specific push settings to be reused between client applications."
  }, {
    "name" : "Receipt",
    "description" : "This module adds in support for receipts. These receipts are a form of acknowledgement of an event. This module defines a single acknowledgement: m.read which indicates that the user has read up to a given event."
  }, {
    "name" : "Report",
    "description" : "Users may encounter content which they find inappropriate and should be able to report it to the server administrators or room moderators for review. This module defines a way for users to report content."
  }, {
    "name" : "Room"
  }, {
    "name" : "Search",
    "description" : "The search API allows clients to perform full text search across events in all rooms that the user has been in, including those that they have left. Only events that the user is allowed to see will be searched, e.g. it won't include events in rooms that happened after you left."
  }, {
    "name" : "SendToDevice",
    "description" : "This module provides a means by which clients can exchange signalling messages without them being stored permanently as part of a shared communication history. A message is delivered exactly once to each client device."
  }, {
    "name" : "ServerDiscovery",
    "description" : "Gets discovery information about the domain."
  }, {
    "name" : "Sync",
    "description" : "To read events, the intended flow of operation is for clients to first call the /sync API without a since parameter. This returns the most recent message events for each room, as well as the state of the room at the start of the returned timeline. The response also includes a next_batch field, which should be used as the value of the since parameter in the next call to /sync. Finally, the response includes, for each room, a prev_batch field, which can be passed as a start parameter to the /rooms/<room_id>/messages API to retrieve earlier messages."
  }, {
    "name" : "Tag",
    "description" : "Users can add tags to rooms. Tags are short strings used to label rooms, e.g. \"work\", \"family\". A room may have multiple tags. Tags are only visible to the user that set them but are shared across all their devices."
  }, {
    "name" : "ThirdPartyProtocol",
    "description" : "Application services can provide access to third party networks via bridging.This allows Matrix users to communicate with users on other communication platforms, with messages ferried back and forthby the application service. A single application service may bridge multiple third party networks, and many individuallocations within those networks. A single third party network location may be bridged to multiple Matrix rooms."
  }, {
    "name" : "Typing",
    "description" : "When a client receives an m.typing event, it MUST use the user ID list to REPLACE its knowledge of every user who is currently typing. The reason for this is that the server does not remember users who are not currently typing as that list gets big quickly. The client should mark as not typing any user ID who is not in that list."
  }, {
    "name" : "UserDirectory",
    "description" : "User directory."
  }, {
    "name" : "VOIP",
    "description" : "The homeserver MAY provide a TURN server which clients can use to contact the remote party. The following HTTP API endpoints will be used by clients in order to get information about the TURN server."
  }, {
    "name" : "Version",
    "description" : "Gets the versions of the specification supported by the server."
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/.well-known/matrix/client" : {
      "get" : {
        "tags" : [ "ServerDiscovery" ],
        "summary" : "Gets discovery information about the domain.",
        "description" : "",
        "operationId" : "serverDiscovery",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Server discovery information.",
            "schema" : {
              "$ref" : "#/definitions/ServerDiscoveryResponse"
            }
          },
          "404" : {
            "description" : "No server discovery information available."
          }
        }
      }
    },
    "/_matrix/client/r0/account/3pid" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Gets a list of the third party identifiers that the homeserver has associated with the user's account",
        "description" : "This is not the same as the list of third party identifiers bound to the user's Matrix ID in Identity Servers. Identifiers in this list may be used by the homeserver as, for example, identifiers that it will accept to reset the user's account password.",
        "operationId" : "getThreePid",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The lookup was successful",
            "schema" : {
              "$ref" : "#/definitions/ThreePidResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Adds contact information to the user's account",
        "description" : "",
        "operationId" : "updateThreePid",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "New contact information.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ThreePidRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The addition was successful.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "403" : {
            "description" : "The credentials could not be verified with the identity server."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/account/3pid/delete" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Removes a third party identifier from the user's account.",
        "description" : "This might not cause an unbind of the identifier from the identity server.",
        "operationId" : "deleteThreePid",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Delete3PidRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The homeserver has disassociated the third party identifier from the user.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/account/3pid/email/requestToken" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Proxies the identity server API validate/email/requestToken",
        "description" : "roxies the identity server API validate/email/requestToken, but first checks that the given email address is not already associated with an account on this Home Server. This API should be used to request validation tokens when adding an email address to an account. This API's parameters and response is identical to that of the HS API /register/email/requestToken endpoint.",
        "operationId" : "threePidEmailRequestToken",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EmailRequestToken"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An email was sent to the given address",
            "schema" : {
              "$ref" : "#/definitions/SessionResponse"
            }
          },
          "400" : {
            "description" : "The third party identifier is already in use on the homeserver, or the request was invalid."
          },
          "403" : {
            "description" : "The homeserver does not allow the third party identifier as a contact option."
          }
        }
      }
    },
    "/_matrix/client/r0/account/3pid/msisdn/requestToken" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Proxies the identity server API validate/email/requestToken",
        "description" : "roxies the identity server API validate/email/requestToken, but first checks that the given email address is not already associated with an account on this Home Server. This API should be used to request validation tokens when adding an email address to an account. This API's parameters and response is identical to that of the HS API /register/email/requestToken endpoint.",
        "operationId" : "threePidMsisdnRequestToken",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MsisdnRequestToken"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An SMS message was sent to the given phone number.",
            "schema" : {
              "$ref" : "#/definitions/SessionResponse"
            }
          },
          "400" : {
            "description" : "The third party identifier is already in use on the homeserver, or the request was invalid."
          },
          "403" : {
            "description" : "The homeserver does not allow the third party identifier as a contact option."
          }
        }
      }
    },
    "/_matrix/client/r0/account/deactivate" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Deactivate the user's account, removing all ability for the user to login again.",
        "description" : "This API endpoint uses the User-Interactive Authentication API.An access token should be submitted to this endpoint if the client has an active session.The homeserver may change the flows available depending on whether a valid access token is provided.",
        "operationId" : "deactivate",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeactivateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The account has been deactivated.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/account/password" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Changes the password for an account on this homeserver.",
        "description" : "This API endpoint uses the User-Interactive Authentication API. An access token should be submitted to this endpoint if the client has an active session. The homeserver may change the flows available depending on whether a valid access token is provided.",
        "operationId" : "password",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "password.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PasswordRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The password has been changed.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/account/password/email/requestToken" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Proxies the identity server API validate/email/requestToken, but first checks that the given email address is associated with an account on this Home Server.",
        "description" : "This API should be used to request validation tokens when authenticating for the account/password endpoint. This API's parameters and response are identical to that of the HS API /register/email/requestToken except that M_THREEPID_NOT_FOUND may be returned if no account matching the given email address could be found. The server may instead send an email to the given address prompting the user to create an account. M_THREEPID_IN_USE may not be returned.",
        "operationId" : "passwordEmailRequestToken",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EmailRequestToken"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An email was sent to the given address",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "400" : {
            "description" : "The referenced third party identifier is not recognised by the homeserver, or the request was invalid."
          },
          "403" : {
            "description" : "The homeserver does not allow the third party identifier as a contact option."
          }
        }
      }
    },
    "/_matrix/client/r0/account/password/msisdn/requestToken" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Proxies the identity server API validate/email/requestToken, but first checks that the given email address is associated with an account on this Home Server.",
        "description" : "This API should be used to request validation tokens when authenticating for the account/password endpoint. This API's parameters and response are identical to that of the HS API /register/email/requestToken except that M_THREEPID_NOT_FOUND may be returned if no account matching the given email address could be found. The server may instead send an email to the given address prompting the user to create an account. M_THREEPID_IN_USE may not be returned.",
        "operationId" : "passwordMsisdnRequestToken",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MsisdnRequestToken"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An SMS message was sent to the given phone number.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "400" : {
            "description" : "The referenced third party identifier is not recognised by the homeserver, or the request was invalid."
          },
          "403" : {
            "description" : "The homeserver does not allow the third party identifier as a contact option."
          }
        }
      }
    },
    "/_matrix/client/r0/account/whoami" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Gets information about the owner of a given access token",
        "description" : "Note that, as with the rest of the Client-Server API, Application Services may masquerade as users within their namespace by giving a user_id query parameter. In this situation, the server should verify that the given user_id is registered by the appservice, and return it in the response body.",
        "operationId" : "whoami",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The token belongs to a known user",
            "schema" : {
              "$ref" : "#/definitions/WhoamiResponse"
            }
          },
          "401" : {
            "description" : "The token is not recognised."
          },
          "403" : {
            "description" : "The appservice cannot masquerade as the user or has not registered them."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/admin/whois/{userId}" : {
      "get" : {
        "tags" : [ "Admin" ],
        "summary" : "This API may be restricted to only be called by the user being looked up, or by a server admin. Server-local administrator privileges are not specified in this document.",
        "description" : "",
        "operationId" : "whois",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The use to look up",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The lookup was successful.",
            "schema" : {
              "$ref" : "#/definitions/AdminResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/auth/{auth}/fallback/web" : {
      "get" : {
        "tags" : [ "FallbackAuthentication" ],
        "summary" : "Fallback login endpoint. If a client does not know how to handle a given login type, it can direct the user to a web browser with the URL of a fallback page which will allow the user to complete that login step out-of-band in their web browser.",
        "description" : "",
        "operationId" : "auth",
        "produces" : [ "text/html" ],
        "parameters" : [ {
          "name" : "auth",
          "in" : "path",
          "description" : "The type name of the stage it is attempting.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "session",
          "in" : "query",
          "description" : "the ID of the session given by the homeserver.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "n HTML page which can perform this authentication stage. This page must use the following JavaScript when the authentication has been completed.",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/createRoom" : {
      "post" : {
        "tags" : [ "Room" ],
        "summary" : "Create a new room with various configuration options.",
        "description" : "The server MUST apply the normal state resolution rules when creating the new room, including checking power levels for each event.",
        "operationId" : "create",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateRoomRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Information about the newly created room.",
            "schema" : {
              "$ref" : "#/definitions/RoomId"
            }
          },
          "400" : {
            "description" : "The request is invalid. A meaningful errcode and description error text will be returned."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/delete_devices" : {
      "post" : {
        "tags" : [ "Device" ],
        "summary" : "Deletes the given devices, and invalidates any access token associated with them.",
        "description" : "This API endpoint uses the User-Interactive Authentication API.",
        "operationId" : "deleteDevices",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DevicesDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The devices were successfully removed, or had been removed previously.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/devices" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Gets information about all devices for the current user.",
        "description" : "",
        "operationId" : "devices",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "A list of all registered devices for this user.",
            "schema" : {
              "$ref" : "#/definitions/DevicesResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/devices/{deviceId}" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Gets information on a single device, by device id.",
        "description" : "",
        "operationId" : "device",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "The device to retrieve",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Device information.",
            "schema" : {
              "$ref" : "#/definitions/Device"
            }
          },
          "404" : {
            "description" : "The current user has no device with the given ID."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Device" ],
        "summary" : "Updates the metadata on the given device.",
        "description" : "",
        "operationId" : "updateDevice",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "The device to update.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The new display name for this device. If not given, the display name is unchanged.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeviceUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The device was successfully updated.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "404" : {
            "description" : "The current user has no device with the given ID."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Device" ],
        "summary" : "Deletes the given device, and invalidates any access token associated with it.",
        "description" : "This API endpoint uses the User-Interactive Authentication API.",
        "operationId" : "deleteDevice",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "The device to delete",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Additional authentication information for the user-interactive authentication API.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeviceDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The device was successfully removed, or had been removed previously.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/directory/list/room/{roomId}" : {
      "get" : {
        "tags" : [ "Room" ],
        "summary" : "Gets the visibility of a given room on the server's public room directory.",
        "description" : "",
        "operationId" : "getVisibility",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room ID.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The visibility of the room in the directory",
            "schema" : {
              "$ref" : "#/definitions/RoomVisibility"
            }
          },
          "404" : {
            "description" : "The room is not known to the server"
          }
        }
      },
      "put" : {
        "tags" : [ "Room" ],
        "summary" : "Sets the visibility of a given room in the server's public room directory.",
        "description" : "",
        "operationId" : "setVisibility",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room ID.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RoomVisibility"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The visibility was updated, or no change was needed.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "404" : {
            "description" : "The room is not known to the server."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/directory/room/{roomAlias}" : {
      "get" : {
        "tags" : [ "Room" ],
        "summary" : "Requests that the server resolve a room alias to a room ID. The server will use the federation API to resolve the alias if the domain part of the alias does not correspond to the server's own domain.",
        "description" : "",
        "operationId" : "resolveAlias",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomAlias",
          "in" : "path",
          "description" : "The room alias",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The room ID and other information for this alias.",
            "schema" : {
              "$ref" : "#/definitions/RoomResolveResponse"
            }
          },
          "404" : {
            "description" : "There is no mapped room ID for this room alias."
          }
        }
      },
      "put" : {
        "tags" : [ "Room" ],
        "summary" : "Create a new mapping from room alias to room ID.",
        "description" : "",
        "operationId" : "createAlias",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomAlias",
          "in" : "path",
          "description" : "The room alias to set",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RoomId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The mapping was created.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "409" : {
            "description" : "A room alias with that name already exists."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Room" ],
        "summary" : "Remove a mapping of room alias to room ID.",
        "description" : "",
        "operationId" : "deleteAlias",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomAlias",
          "in" : "path",
          "description" : "The room alias to remove.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The mapping was deleted.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/events" : {
      "get" : {
        "tags" : [ "Sync" ],
        "summary" : "This will listen for new events related to a particular room and return them to the caller. This will block until an event is received, or until the timeout is reached.",
        "description" : "",
        "operationId" : "events",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "The token to stream from. This token is either from a previous request to this API or from the initial sync API.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time in milliseconds to wait for an event.",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "room_id",
          "in" : "query",
          "description" : "The room ID for which events should be returned.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The events received, which may be none.",
            "schema" : {
              "$ref" : "#/definitions/Page"
            }
          },
          "400" : {
            "description" : "Bad pagination from parameter."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/events/{eventId}" : {
      "get" : {
        "tags" : [ "DeprecatedSync" ],
        "summary" : "Get a single event based on event_id.",
        "description" : "You must have permission to retrieve this event e.g. by being a member in the room for this event. This endpoint was deprecated in r0 of this specification. Clients should instead call the /rooms/{roomId}/event/{eventId} API or the /rooms/{roomId}/context/{eventId} API.",
        "operationId" : "event",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "description" : "The event ID to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The full event.",
            "schema" : {
              "$ref" : "#/definitions/Event"
            }
          },
          "404" : {
            "description" : "The event was not found or you do not have permission to read this event."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : true
      }
    },
    "/_matrix/client/r0/initialSync" : {
      "get" : {
        "tags" : [ "DeprecatedSync" ],
        "summary" : "This returns the full state for this user, with an optional limit on the number of messages per room to return.",
        "description" : "This endpoint was deprecated in r0 of this specification. Clients should instead call the /sync API with no since parameter. See the migration guide.",
        "operationId" : "initialSync",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "archived",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "The user's current state.",
            "schema" : {
              "$ref" : "#/definitions/DeprecatedInitialSyncResponse"
            }
          },
          "404" : {
            "description" : "There is no avatar URL for this user or this user does not exist."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : true
      }
    },
    "/_matrix/client/r0/join/{roomIdOrAlias}" : {
      "post" : {
        "tags" : [ "Room" ],
        "summary" : "This API starts a user participating in a particular room, if that user is allowed to participate in that room. After this call, the client is allowed to see all current state events in the room, and all subsequent events associated with the room until the user leaves the room.",
        "description" : "",
        "operationId" : "joinByIdOrAlias",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomIdOrAlias",
          "in" : "path",
          "description" : "The room identifier or alias to join.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "server_name",
          "in" : "query",
          "description" : "The servers to attempt to join the room through. One of the servers must be participating in the room.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/JoinRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The room has been joined. The joined room ID must be returned in the room_id field.",
            "schema" : {
              "$ref" : "#/definitions/RoomId"
            }
          },
          "403" : {
            "description" : "You do not have permission to join the room. A meaningful errcode and description error text will be returned."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/joined_rooms" : {
      "get" : {
        "tags" : [ "Room" ],
        "summary" : "This API returns a list of the user's current rooms.",
        "description" : "",
        "operationId" : "joinedRooms",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "A list of the rooms the user is in.",
            "schema" : {
              "$ref" : "#/definitions/JoinedRoomsResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/keys/changes" : {
      "get" : {
        "tags" : [ "Encryption" ],
        "summary" : "Gets a list of users who have updated their device identity keys since a previous sync token.",
        "description" : "The server should include in the results any users who currently share a room with the calling user (ie, both users have membership state join); and added new device identity keys or removed an existing device with identity keys, between from and to.",
        "operationId" : "changes",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "The desired start point of the list. Should be the next_batch field from a response to an earlier call to /sync. Users who have not uploaded new device identity keys since this point, nor deleted existing devices with identity keys since then, will be excluded from the results.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The desired end point of the list. Should be the next_batch field from a recent call to /sync - typically the most recent such call. This may be used by the server as a hint to check its caches are up to date.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of users who updated their devices.",
            "schema" : {
              "$ref" : "#/definitions/ChangesResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/keys/claim" : {
      "post" : {
        "tags" : [ "Encryption" ],
        "summary" : "Claims one-time keys for use in pre-key messages.",
        "description" : "",
        "operationId" : "claim",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ClaimRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The claimed keys.",
            "schema" : {
              "$ref" : "#/definitions/ClaimResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/keys/query" : {
      "post" : {
        "tags" : [ "Encryption" ],
        "summary" : "Returns the current devices and identity keys for the given users.",
        "description" : "",
        "operationId" : "query",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/QueryRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The device information.",
            "schema" : {
              "$ref" : "#/definitions/QueryResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/keys/upload" : {
      "post" : {
        "tags" : [ "Encryption" ],
        "summary" : "Publishes end-to-end encryption keys for the device.",
        "description" : "",
        "operationId" : "uploadKey",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UploadRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The provided keys were sucessfully uploaded.",
            "schema" : {
              "$ref" : "#/definitions/UploadResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/login" : {
      "get" : {
        "tags" : [ "Authentication" ],
        "summary" : "Gets the homeserver's supported login types to authenticate users.",
        "description" : "Clients should pick one of these and supply it as the type when logging in.",
        "operationId" : "supportedLoginTypes",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The login types the homeserver supports.",
            "schema" : {
              "$ref" : "#/definitions/SupportedLoginResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      },
      "post" : {
        "tags" : [ "Authentication" ],
        "summary" : "Authenticates the user, and issues an access token they can use to authorize themself in subsequent requests",
        "description" : "If the client does not supply a device_id, the server must auto-generate one. The returned access token must be associated with the device_id supplied by the client or generated by the server. The server may invalidate any access token previously associated with that device",
        "operationId" : "login",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "login request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LoginRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The user has been authenticated",
            "schema" : {
              "$ref" : "#/definitions/LoginResponse"
            }
          },
          "400" : {
            "description" : "Part of the request was invalid. For example, the login type may not be recognised"
          },
          "401" : {
            "description" : "The login attempt failed. For example, the password may have been incorrect."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/login/cas/redirect" : {
      "get" : {
        "tags" : [ "CAS" ],
        "summary" : "A web-based Matrix client should instruct the user's browser to navigate to this endpoint in order to log in via CAS.",
        "description" : "The server MUST respond with an HTTP redirect to the CAS interface. The URI MUST include a service parameter giving the path of the /login/cas/ticket endpoint (including the redirectUrl query parameter).",
        "operationId" : "redirect",
        "parameters" : [ {
          "name" : "redirectUrl",
          "in" : "query",
          "description" : "URI to which the user will be redirected after the homeserver has authenticated the user with CAS.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "302" : {
            "description" : "A redirect to the CAS interface"
          }
        }
      }
    },
    "/_matrix/client/r0/login/cas/ticket" : {
      "get" : {
        "tags" : [ "CAS" ],
        "summary" : "Once the CAS server has authenticated the user, it will redirect the browser to this endpoint (assuming /login/cas/redirect gave it the correct service parameter).",
        "description" : "The server MUST call /proxyValidate on the CAS server, to validate the ticket supplied by the browser. If validation is successful, the server must generate a Matrix login token. It must then respond with an HTTP redirect to the URI given in the redirectUrl parameter, adding a loginToken query parameter giving the generated token. If validation is unsuccessful, the server should respond with a 401 Unauthorized error, the body of which will be displayed to the user.",
        "operationId" : "ticket",
        "parameters" : [ {
          "name" : "redirectUrl",
          "in" : "query",
          "description" : "The redirectUrl originally provided by the client to /login/cas/redirect.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ticket",
          "in" : "query",
          "description" : "CAS authentication ticket",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "302" : {
            "description" : "A redirect to the Matrix client."
          },
          "401" : {
            "description" : "The server was unable to validate the CAS ticket."
          }
        }
      }
    },
    "/_matrix/client/r0/logout" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "summary" : "Invalidates an existing access token, so that it can no longer be used for authorization.",
        "description" : "",
        "operationId" : "logout",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The access token used in the request was succesfully invalidated",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/logout/all" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "summary" : "Invalidates all access tokens for a user, so that they can no longer be used for authorization. This includes the access token that made this request",
        "description" : "This endpoint does not require UI authorization because UI authorization is designed to protect against attacks where the someone gets hold of a single access token then takes over the account. This endpoint invalidates all access tokens for the user, including the token used in the request, and therefore the attacker is unable to take over the account in this way.",
        "operationId" : "logoutAll",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The user's access tokens were succesfully invalidated",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/notifications" : {
      "get" : {
        "tags" : [ "Push" ],
        "summary" : "This API is used to paginate through the list of events that the user has been, or would have been notified about.",
        "description" : "",
        "operationId" : "notifications",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "Pagination token given to retrieve the next set of events.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "only",
          "in" : "query",
          "description" : "Allows basic filtering of events returned.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit on the number of events to return in this request.",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "A batch of events is being returned.",
            "schema" : {
              "$ref" : "#/definitions/NotificationResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/presence/list/{userId}" : {
      "get" : {
        "tags" : [ "Presence" ],
        "summary" : "Retrieve a list of presence events for every user on this list.",
        "description" : "",
        "operationId" : "getPresenceList",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose presence list should be retrieved.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of presence events for this list.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Event"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Presence" ],
        "summary" : "Adds or removes users from this presence list.",
        "description" : "",
        "operationId" : "setPresenceList",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose presence list is being modified.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PresenceList"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list was updated.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/presence/{userId}/status" : {
      "get" : {
        "tags" : [ "Presence" ],
        "summary" : "Get the given user's presence state.",
        "description" : "",
        "operationId" : "getPresenceStatus",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose presence state to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The presence state for this user.",
            "schema" : {
              "$ref" : "#/definitions/PresenceStatus"
            }
          },
          "403" : {
            "description" : "You are not allowed to see this user's presence status."
          },
          "404" : {
            "description" : "There is no presence state for this user. This user may not exist or isn't exposing presence information to you."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Presence" ],
        "summary" : "This API sets the given user's presence state. When setting the status, the activity time is updated to reflect that activity; the client does not need to specify the last_active_ago field. You cannot set the presence state of another user.",
        "description" : "",
        "operationId" : "setPresenceStatus",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose presence state to update.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PresenceRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The new presence state was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/profile/{userId}" : {
      "get" : {
        "tags" : [ "Profile" ],
        "summary" : "Get the combined profile information for this user. This API may be used to fetch the user's own profile information or other users; either locally or on remote homeservers. This API may return keys which are not limited to displayname or avatar_url.",
        "description" : "",
        "operationId" : "profile",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose profile information to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The avatar URL for this user.",
            "schema" : {
              "$ref" : "#/definitions/Profile"
            }
          },
          "404" : {
            "description" : "There is no profile information for this user or this user does not exist."
          }
        }
      }
    },
    "/_matrix/client/r0/profile/{userId}/avatar_url" : {
      "get" : {
        "tags" : [ "Profile" ],
        "summary" : "Get the user's avatar URL. This API may be used to fetch the user's own avatar URL or to query the URL of other users;  either locally or on remote homeservers.",
        "description" : "",
        "operationId" : "showAvatarUrl",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose avatar URL to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The avatar URL for this user.",
            "schema" : {
              "$ref" : "#/definitions/AvatarUrl"
            }
          },
          "404" : {
            "description" : "There is no avatar URL for this user or this user does not exist."
          }
        }
      },
      "put" : {
        "tags" : [ "Profile" ],
        "summary" : "This API sets the given user's avatar URL. You must have permission to set this user's avatar URL, e.g. you need to have their access_token.",
        "description" : "",
        "operationId" : "setAvatarUrl",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose avatar URL to set.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AvatarUrl"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The avatar URL was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/profile/{userId}/displayname" : {
      "get" : {
        "tags" : [ "Profile" ],
        "summary" : "Get the user's display name. This API may be used to fetch the user's own displayname or to query the name of other users; either locally or on remote homeservers.",
        "description" : "",
        "operationId" : "showDisplayName",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose display name to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The display name for this user.",
            "schema" : {
              "$ref" : "#/definitions/DisplayName"
            }
          },
          "404" : {
            "description" : "There is no display name for this user or this user does not exist."
          }
        }
      },
      "put" : {
        "tags" : [ "Profile" ],
        "summary" : "his API sets the given user's display name. You must have permission to set this user's display name, e.g. you need to have their access_token.",
        "description" : "",
        "operationId" : "setDisplayName",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose display name to set.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DisplayName"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The display name was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/publicRooms" : {
      "get" : {
        "tags" : [ "Room" ],
        "summary" : "Lists the public rooms on the server. This API returns paginated responses. The rooms are ordered by the number of joined members, with the largest rooms first.",
        "description" : "",
        "operationId" : "showPublicRooms",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of results returned.",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "since",
          "in" : "query",
          "description" : "A pagination token from a previous request, allowing clients to get the next (or previous) batch of rooms. The direction of pagination is specified solely by which token is supplied, rather than via an explicit flag.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "server",
          "in" : "query",
          "description" : "The server to fetch the public room lists from. Defaults to the local server.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of the rooms on the server.",
            "schema" : {
              "$ref" : "#/definitions/PublicRoomsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Room" ],
        "summary" : "Lists the public rooms on the server, with optional filter. This API returns paginated responses. The rooms are ordered by the number of joined members, with the largest rooms first.",
        "description" : "",
        "operationId" : "searchPublicRooms",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "server",
          "in" : "query",
          "description" : "The server to fetch the public room lists from. Defaults to the local server.",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PublicRoomsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of the rooms on the server.",
            "schema" : {
              "$ref" : "#/definitions/PublicRoomsResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/pushers" : {
      "get" : {
        "tags" : [ "Push" ],
        "summary" : "Gets all currently active pushers for the authenticated user.",
        "description" : "",
        "operationId" : "showPushers",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The pushers for this user.",
            "schema" : {
              "$ref" : "#/definitions/PushersResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/pushers/set" : {
      "post" : {
        "tags" : [ "Push" ],
        "summary" : "This endpoint allows the creation, modification and deletion of pushers for this user ID. The behaviour of this endpoint varies depending on the values in the JSON body.",
        "description" : "",
        "operationId" : "setPushers",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PushersRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The pusher was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "400" : {
            "description" : "One or more of the pusher values were invalid."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/pushrules" : {
      "get" : {
        "tags" : [ "Push" ],
        "summary" : "Retrieve all push rulesets for this user. Clients can \"drill-down]\"on the rulesets by suffixing a scope to this path e.g. /pushrules/global/. This will return a subset of this data under the specified key e.g. the global key.",
        "description" : "",
        "operationId" : "pushRules",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "All the push rulesets for this user.",
            "schema" : {
              "$ref" : "#/definitions/PushRulesResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/pushrules/{scope}/{kind}/{ruleId}" : {
      "get" : {
        "tags" : [ "Push" ],
        "summary" : "Retrieve a single specified push rule.",
        "description" : "",
        "operationId" : "pushRule",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "override", "underride", "sender", "room", "content" ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The specific push rule. This will also include keys specific to the rule itself such as the rule's actions and conditions if set.",
            "schema" : {
              "$ref" : "#/definitions/PushRule"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Push" ],
        "summary" : "This endpoint allows the creation, modification and deletion of pushers for this user ID. The behaviour of this endpoint varies depending on the values in the JSON body.",
        "description" : "",
        "operationId" : "updateRule",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "override", "underride", "sender", "room", "content" ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "Use 'before' with a rule_id as its value to make the new rule the next-most important rule with respect to the given user defined rule. It is not possible to add a rule relative to a predefined server rule.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "This makes the new rule the next-less important rule relative to the given user defined rule. It is not possible to add a rule relative to a predefined server rule.",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PushUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The pusher was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "400" : {
            "description" : "There was a problem configuring this push rule."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Push" ],
        "summary" : "This endpoint removes the push rule defined in the path.",
        "description" : "",
        "operationId" : "deleteRule",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "override", "underride", "sender", "room", "content" ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The push rule was deleted.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/pushrules/{scope}/{kind}/{ruleId}/actions" : {
      "get" : {
        "tags" : [ "Push" ],
        "summary" : "This endpoint get the actions for the specified push rule.",
        "description" : "",
        "operationId" : "getActions",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Either global or device/&lt;profile_tag&gt; to specify global rules or device rules for the given profile_tag.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "override", "underride", "sender", "room", "content" ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The actions for this push rule.",
            "schema" : {
              "$ref" : "#/definitions/PushActions"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Push" ],
        "summary" : "This endpoint allows clients to change the actions of a push rule. This can be used to change the actions of builtin rules.",
        "description" : "",
        "operationId" : "setActions",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "override", "underride", "sender", "room", "content" ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PushActions"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The actions for the push rule were set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/pushrules/{scope}/{kind}/{ruleId}/enabled" : {
      "get" : {
        "tags" : [ "Push" ],
        "summary" : "This endpoint gets whether the specified push rule is enabled.",
        "description" : "",
        "operationId" : "getEnabled",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Either global or device/&lt;profile_tag&gt; to specify global rules or device rules for the given profile_tag.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "override", "underride", "sender", "room", "content" ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Whether the push rule is enabled.",
            "schema" : {
              "$ref" : "#/definitions/PushEnable"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Push" ],
        "summary" : "his endpoint allows clients to enable or disable the specified push rule.",
        "description" : "",
        "operationId" : "setEnabled",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "override", "underride", "sender", "room", "content" ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PushEnable"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The push rule was enabled or disabled.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/register" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Register for an account on this homeserver.",
        "description" : "",
        "operationId" : "register",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "kind",
          "in" : "query",
          "description" : "The kind of account to register.",
          "required" : false,
          "type" : "string",
          "default" : "user",
          "enum" : [ "guest", "user" ]
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegisterRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The account has been registered",
            "schema" : {
              "$ref" : "#/definitions/LoginResponse"
            }
          },
          "400" : {
            "description" : "Part of the request was invalid."
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/register/available" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Checks to see if a username is available, and valid, for the server.",
        "description" : "he server should check to ensure that, at the time of the request, the username requested is available for use.This includes verifying that an application service has not claimed the username and that the username fits the server'sdesired requirements (for example, a server could dictate that it does not permit usernames with underscores).Matrix clients may wish to use this API prior to attempting registration, however the clients must also be awarethat using this API does not normally reserve the username. This can mean that the username becomes unavailablebetween checking its availability and attempting to register it.",
        "operationId" : "available",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "The username to check the availability of",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The username is available.",
            "schema" : {
              "$ref" : "#/definitions/AvailableResponse"
            }
          },
          "400" : {
            "description" : "Part of the request was invalid or the username is not available"
          },
          "429" : {
            "description" : "This request was rate-limited"
          }
        }
      }
    },
    "/_matrix/client/r0/register/email/emailRequestToken" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Request email token.",
        "description" : "Proxies the identity server API validate/email/emailRequestToken, but first checks that the given email address is not already associated with an account on this Home Server. Note that, for consistency, this API takes JSON objects, though the Identity Server API takes x-www-form-urlencoded parameters. See the Identity Server API for further information.",
        "operationId" : "emailRequestToken",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EmailRequestToken"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An email has been sent to the specified address.",
            "schema" : {
              "$ref" : "#/definitions/SessionResponse"
            }
          },
          "400" : {
            "description" : "Part of the request was invalid."
          },
          "403" : {
            "description" : "The homeserver does not permit the address to be bound."
          }
        }
      }
    },
    "/_matrix/client/r0/register/msisdn/requestToken" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Request msisdn token.",
        "description" : "Proxies the Identity Service API validate/msisdn/requestToken, but first checks that the given phone number is not already associated with an account on this homeserver. See the Identity Service API for further information.",
        "operationId" : "msisdnRequestToken",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MsisdnRequestToken"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An SMS message has been sent to the specified phone number.",
            "schema" : {
              "$ref" : "#/definitions/SessionResponse"
            }
          },
          "400" : {
            "description" : "Part of the request was invalid."
          },
          "403" : {
            "description" : "The homeserver does not permit the address to be bound."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/ban" : {
      "post" : {
        "tags" : [ "Room" ],
        "summary" : "Ban a user in the room. If the user is currently in the room, also kick them.",
        "description" : "",
        "operationId" : "ban",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier (not alias) from which the user should be banned.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/KickRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The user has been kicked and banned from the room.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "403" : {
            "description" : "You do not have permission to ban the user from the room. A meaningful errcode and description error text will be returned."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/context/{eventId}" : {
      "get" : {
        "tags" : [ "EventContext" ],
        "summary" : "This API returns a number of events that happened just before and after the specified event.",
        "description" : "This allows clients to get the context surrounding an event.",
        "operationId" : "context",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to get events from.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "The event to get context around.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of events to return. Default: 10.",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "The events and state surrounding the requested event.",
            "schema" : {
              "$ref" : "#/definitions/EventContextResponse"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/event/{eventId}" : {
      "get" : {
        "tags" : [ "Event" ],
        "summary" : "Get a single event based on roomId/eventId. You must have permission to retrieve this event e.g. by being a member in the room for this event.",
        "description" : "",
        "operationId" : "roomEvent",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The ID of the room the event is in.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "The event ID to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The full event.",
            "schema" : {
              "$ref" : "#/definitions/Event"
            }
          },
          "404" : {
            "description" : "The event was not found or you do not have permission to read this event."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/forget" : {
      "post" : {
        "tags" : [ "Room" ],
        "summary" : "This API stops a user remembering about a particular room. In general, history is a first class citizen in Matrix. After this API is called, however, a user will no longer be able to retrieve history for this room. If all users on a homeserver forget a room, the room is eligible for deletion from that homeserver.",
        "description" : "",
        "operationId" : "forget",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier to forget.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The room has been forgotten.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "400" : {
            "description" : "The user has not left the room."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/initialSync" : {
      "get" : {
        "tags" : [ "DeprecatedSync" ],
        "summary" : "Get a copy of the current state and the most recent messages in a room.",
        "description" : "This endpoint was deprecated in r0 of this specification. There is no direct replacement; the relevant information is returned by the /sync API. See the migration guide.",
        "operationId" : "roomInitialSync",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to get the data.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The current state of the room.",
            "schema" : {
              "$ref" : "#/definitions/DeprecatedRoomInfo"
            }
          },
          "403" : {
            "description" : "You aren't a member of the room and weren't previously a member of the room."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : true
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/invite" : {
      "post" : {
        "tags" : [ "Room" ],
        "summary" : "This API invites a user to participate in a particular room. They do not start participating in the room until they actually join the room.",
        "description" : "",
        "operationId" : "invite",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier (not alias) to which to invite the user.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InviteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The user has been invited to join the room.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "403" : {
            "description" : "You do not have permission to invite the user to the room. A meaningful errcode and description error text will be returned. "
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/join" : {
      "post" : {
        "tags" : [ "Room" ],
        "summary" : "This API starts a user participating in a particular room, if that user is allowed to participate in that room. After this call, the client is allowed to see all current state events in the room, and all subsequent events associated with the room until the user leaves the room.",
        "description" : "",
        "operationId" : "joinById",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier (not alias) to join.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/JoinRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The room has been joined. The joined room ID must be returned in the room_id field.",
            "schema" : {
              "$ref" : "#/definitions/RoomId"
            }
          },
          "403" : {
            "description" : "You do not have permission to join the room. A meaningful errcode and description error text will be returned."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/joined_members" : {
      "get" : {
        "tags" : [ "Event" ],
        "summary" : "This API returns a map of MXIDs to member info objects for members of the room.",
        "description" : "The current user must be in the room for it to work, unless it is an Application Service in which case any of the AS's users must be in the room. This API is primarily for Application Services and should be faster to respond than/members as it can be implemented more efficiently on the server.",
        "operationId" : "joinedMembers",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to get the members of.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A map of MXID to room member objects.",
            "schema" : {
              "$ref" : "#/definitions/JoinedMembersResponse"
            }
          },
          "403" : {
            "description" : "You aren't a member of the room."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/kick" : {
      "post" : {
        "tags" : [ "Room" ],
        "summary" : "Kick a user from the room.",
        "description" : "",
        "operationId" : "kick",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier (not alias) from which the user should be kicked.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/KickRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The user has been kicked from the room.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "403" : {
            "description" : "You do not have permission to kick the user from the room. A meaningful errcode and description error text will be returned."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/leave" : {
      "post" : {
        "tags" : [ "Room" ],
        "summary" : "This API stops a user participating in a particular room. If the user was already in the room, they will no longer be able to see new events in the room. If the room requires an invite to join, they will need to be re-invited before they can re-join. If the user was invited to the room, but had not joined, this call serves to reject the invite.The user will still be allowed to retrieve history from the room which they were previously allowed to see.",
        "description" : "",
        "operationId" : "leave",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier to leave.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The room has been left.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ]
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/members" : {
      "get" : {
        "tags" : [ "Event" ],
        "summary" : "Get the list of members for this room.",
        "description" : "",
        "operationId" : "members",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to get the member events for.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
[...]
